@tailwind base;
@tailwind components;
@tailwind utilities;

.m-header {
  @apply mt-[84px] md:mt-[160px] xl:mt-11
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.rotate-y-40 {
  transform: rotateY(40deg);
}

.rotate-x-0 {
  transform: rotateX(0deg);
}

.rotate-x-40 {
  transform: rotateX(40deg);
}